{{ ansible_managed | comment }}

[Unit]
Description=Sent email on failure for %I

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c '/usr/bin/systemctl status %I | /usr/bin/mail -s "[SYSTEMD_%i] Failed!" {{ systemd_failmail_email }}'

[Install]
WantedBy=multi-user.target
