{{ ansible_managed | comment }}

[Unit]
Description=Sent email on failure for %I

[Service]
Type=oneshot
StateDirectory=failmail/%i

# Security measures
CapabilityBoundingSet=
RestrictAddressFamilies=AF_UNIX
SystemCallArchitectures=native
LockPersonality=yes
MemoryDenyWriteExecute=yes
PrivateTmp=yes
PrivateNetwork=yes
PrivateDevices=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectClock=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictNamespaces=yes
RestrictRealtime=yes

ExecStart=/usr/bin/bash -c '/usr/bin/systemctl status %I | /usr/bin/mail --subject="$(hostname --fqdn): [SYSTEMD_%i] Failed!" pim.vanhelvoirt@os3.nl'

[Install]
WantedBy=multi-user.target
